@use "./variables" as *;
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 8vh;
  background: $mainRed;
  color: $mainWhite;

  z-index: 2;
  border: 1px solid black;
}

.grayBackground {
  background: $mainGray;
  color: white;
}

.navigationLink {
  padding: 1rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: $mainWhite;
}

.navigationLink:hover {
  background: $mainBlue;
  transition-duration: 0.5s;
}
