@use "./variables" as *;
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 0.2s all ease-in-out;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 8vh;
  background: $mainRed;
  color: $mainWhite;

  z-index: 10;
}

.grayBackground {
  background: $mainBlue;
  color: white;
  .navigationLink:hover {
    background: $mainRed;
    transition-duration: 0.5s;
  }
}

.navigationLink {
  padding: 1rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: $mainWhite;
  border-radius: 10px;
}

.navigationLink:hover {
  background: $mainBlue;
  transition-duration: 0.5s;
}

@media only screen and (max-width: 767px) {
  .navbar {
    justify-content: space-evenly;
  }
}
