@use "./variables" as *;

#projects {
  background: $mainGray;
  outline: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5em;
}
.projectsTitle {
  text-align: center;
}
.projectContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid white;
  width: 400px;
  text-align: center;
  height: 300px;
}

.projectsContainer {
  display: flex;
  flex-direction: row;
}

.currentProjectMask {
  position: relative;
  //   background-color: yellow;
  height: 100%;
  width: 100%;
}

.nextProjectMask {
  position: absolute;
  //   background-color: yellow;
  height: 100%;
  width: 100%;
}

.currentProject,
.projectOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
}

.currentProject {
  z-index: 0;
  background-color: whitesmoke;
  img {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  h2 {
    position: relative;
    z-index: 2;
  }
}
.projectOverlay {
  z-index: 1;
  background-color: black;
  opacity: 0;
  color: whitesmoke;
  transition: all 0.3s ease-out;
  &:hover {
    opacity: 0.9;
  }
}

.arrowLeft {
  transform: rotate(180deg);
  margin-right: 10em;
}
.arrow {
  width: 70px;
  margin-bottom: 2em;
  cursor: pointer;
}

.demo,
.code {
  width: 6em;
  height: 3em;
}

.buttonContainer {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
