@use "./variables" as *;

.swiper {
  width: 700px;
  height: 500px;
}

.projects {
  width: 100%;
  background-color: $mainGray;
  padding-bottom: 10em;
}

.swiper-slide {
  width: 100%;
  height: 150%;
}

.projectOverlay {
  /* opacity: 0; */
  background-color: #b8303f;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.showOverlay {
  opacity: 0.9;
}

.projectOverlay > h2 {
  text-align: center;
}

.projectDescription {
  padding: 2em;
  text-align: justify;
}

.projectButtons {
  display: flex;
  justify-content: space-evenly;
}

.projectButtons > button {
  padding: 1em;
}

.bulletActive {
  background-color: #b8303f;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #b8303f;
}

.project {
  width: 600px;
  height: 400px;
  position: relative;
}

.projectImage {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.projectSectionTitle {
  text-align: center;
  margin-bottom: 2em;
}

.projectTitle {
  text-align: center;
}
