* {
  margin: 0;
  padding: 0;
}


:root {
  --mainWhite: #f0f0f0;
  --mainRed: #be3144;
  --mainBlue: #45567d;
  --mainGray: #303841;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}



#navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 8vh;
  background: var(--mainRed);
  color: var(--mainWhite);

  z-index: 2;
}

.navigationLink {
  padding: 1rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--mainWhite);
}

.navigationLink:hover {
  background: var(--mainBlue);
  transition-duration: 0.5s;
}

h1 {
  color: var(--mainWhite);
  font-size: 5rem;
}

#welcome-section {
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#avatar{
  width: 350px;
  height: auto;
}

.arrowDownWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin: 20px;
  
}

@keyframes bounce {
  0%{
    transform: translateY(15px);
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(15px);
  }
}

#arrowDown{
  width: 45px;
  background: #c0c0c0;
  padding: 10px;
  border-radius: 50%;
  animation: bounce 1.7s infinite;
}

.container{
  display: flex;
  align-items: center;
  gap: 200px;
  justify-content: center;
  padding: 50px;
  background: #6A8D92;
  min-height: 30vh;
}


.bioText{
  width: 40rem;
  line-height: 1.7;
  text-align: justify;
  text-justify: auto;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.bioText > h2{
  margin-bottom: 20px;
  
}

.welcomeDescription {
  color: var(--mainRed);
  font-size: 2rem;
  font-style: italic;
  font-weight: 200;
}

.cover {
  background: #7db9e8; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #7db9e8 0%,
    #189b99 61%,
    #1d4393 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #7db9e8 0%,
    #189b99 61%,
    #1d4393 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #7db9e8 0%,
    #189b99 61%,
    #1d4393 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: 100%;
  padding: 10px;
  width: 100%;
  justify-content: center;
  transition: 1s ease-in-out;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  
  /* z-index: 500; */
}

hr{
  margin: 5px 0;
}

.wrapper {
  /* background: black; */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,189b99+61,1d4393+100 */

  width: 200px;
  height: 300px;
  border: 2px solid black;
  transition: 1s ease-in-out;
  position: relative;
  bottom: 0;
  /* z-index: 500; */
}
.project{
  padding: 5px;
  background: #171614;
  color: #D96C06;
  height: 100%;
  line-height: 1.5;
  box-sizing: border-box;
}

#projects {
  min-height: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #c7ac63;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.4fr 1fr 0.2fr;
  grid-template-areas:
    "header"
    "project"
    "certificate";
}



.projectSlide {
  display: flex;
  flex-direction: row;
  grid-area: project;
  justify-content: center;
  align-items: center;
  column-gap: 5em;
}

.projectsTitle {
  font-size: 2rem;
  color: #0e0004;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid black; */
}

.projectDescription {
  display: grid;
  grid-area: projectDescription;
  font-size: 1.5rem;
  color: #c0c0c0;
}


#contact {
  min-height: 65vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--mainGray);
  color: white;
}

#contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.contactInfo {
  margin: 10px;
}

#contactTitle {
  font-size: 60px;
}

#contact > h3 {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  margin-top: 10pxm;
}

#contacts > a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 1px #1f1f1f;
}

.contactInfo:hover {
  transform: translateY(5px);
  transition: transform 0.3s ease-out;
}

footer {
  background: var(--mainGray);
  border-top: 5px solid var(--mainRed);
  padding: 20px;
  text-align: center;
  color: white;
}

#disclaimer {
  padding-right: 50px;
  margin-right: 30px;
}





@media only screen and (min-width: 200px) and (max-width: 400px) {
  #navbar > a {
    font-size: 15px;
  }
  #avatar{
    width: 150px;
    height: auto;
  }
  h1{
    font-size: 2rem;
  }.welcomeDescription{
    font-size: 1.2rem;
  }
  #arrowDown{
    width: 15px;
  }
  .projectSlide{
    flex-direction: column;
    gap: 30px;
  }
  #contactTitle{
    font-size: 2rem;
  }
  h3{
    font-size: 1.6rem;
  }
  .container{
    flex-direction: column;
    gap: 40px;
  }
  .profileImage{
    width: 200px;
  }
  .bioText{
    text-align: justify;
    font-size: 1rem;
    width: 15rem;
  }
}