@media only screen and (max-width: 767px) {
  .swiper,
  .project {
    width: 90%;
    height: 500px;
  }
  .projectImage {
    object-fit: cover;
    position: absolute;
    top: 0;
  }

  .projectOverlay {
    h2 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
  .projectButtons > button {
    padding: 1.5em;
    font-size: 1rem;
    letter-spacing: 0.07rem;
  }
}
