@media only screen and (max-width: 991px) {
  .profileImage {
    width: 300px;
  }
  .bioText {
    width: 35rem;
    font-size: 1.1rem;
    h2 {
      font-size: 1.8rem;
      text-align: center;
      font-weight: 700;
    }
  }
  .container {
    padding: 2em;
    gap: 1.2em;
    flex-direction: column;
  }
}
