@use '../misc/variables' as *;
@media only screen and (max-width: 479px) {
  #welcome-section {
    min-height: 100vh;
  }
  #avatar {
    width: 250px;
  }
  h1 {
    color: $mainWhite;
    font-size: 3rem;
  }
  .navigationLink {
    font-size: 1rem;
  }
}
