* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background: #be3144;
  color: #f0f0f0;
  z-index: 2;
  border: 1px solid black;
}

.navigationLink {
  padding: 1rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: #f0f0f0;
}

.navigationLink:hover {
  background: #45567d;
  transition-duration: 0.5s;
}

body {
  font-family: "Raleway", sans-serif;
}

h1 {
  color: #f0f0f0;
  font-size: 5rem;
}

#welcome-section {
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#avatar {
  width: 350px;
  height: auto;
}

.arrowDownWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin: 20px;
}

@keyframes bounce {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(15px);
  }
}
#arrowDown {
  width: 45px;
  background: #c0c0c0;
  padding: 10px;
  border-radius: 50%;
  animation: bounce 1.7s infinite;
}

.welcomeDescription {
  color: #be3144;
  font-size: 2rem;
  font-style: italic;
  font-weight: 200;
}

.container {
  display: flex;
  align-items: center;
  gap: 200px;
  justify-content: center;
  padding: 50px;
  background: #be3144;
  min-height: 30vh;
}

.bioText {
  width: 40rem;
  line-height: 1.7;
  text-align: justify;
  text-justify: auto;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.bioText > h2 {
  margin-bottom: 20px;
}

.swiper {
  width: 700px;
  height: 500px;
}

.projects {
  width: 100%;
  background-color: #303841;
  padding-bottom: 10em;
}

.swiper-slide {
  width: 100%;
  height: 150%;
}

.projectOverlay {
  /* opacity: 0; */
  background-color: #b8303f;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.showOverlay {
  opacity: 0.9;
}

.projectOverlay > h2 {
  text-align: center;
}

.projectDescription {
  padding: 2em;
  text-align: justify;
}

.projectButtons {
  display: flex;
  justify-content: space-evenly;
}

.projectButtons > button {
  padding: 1em;
}

.bulletActive {
  background-color: #b8303f;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #b8303f;
}

.project {
  width: 600px;
  height: 400px;
  position: relative;
}

.projectImage {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.projectSectionTitle {
  text-align: center;
  margin-bottom: 2em;
}

.projectTitle {
  text-align: center;
}

#contact {
  min-height: 65vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #be3144;
  color: white;
}

#contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.contactInfo {
  margin: 10px;
}

#contactTitle {
  font-size: 60px;
}

#contact > h3 {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  margin-top: 10px;
}

#contacts > a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 1px #1f1f1f;
}

.contactInfo:hover {
  transform: translateY(5px);
  transition: transform 0.3s ease-out;
}

footer {
  background: #303841;
  border-top: 5px solid #be3144;
  padding: 20px;
  text-align: center;
  color: white;
}

#disclaimer {
  padding-right: 50px;
  margin-right: 30px;
}

/*# sourceMappingURL=main.css.map */
